*.ax
*.bpl
*.dcp
*.dcu
*.dproj
*.drc
*.dsk
*.exe
*.identcache
*.local
*.otares
*.res
*.stat
*.swp
*.tvsconfig
*.~*
*~
help/*.gif
help/*.htm
help/*.log
help/Help.chw
help/Help.css
help/Help.hhc
help/Help.hhk
help/Help.hhp
packages/Win32/
packages/Win64/
__history

